<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alazani</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../public/styles/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>
  <body>
  <%-include("./partials/header.ejs")%>
  <%rows.forEach((row, index) => { %>
      <div class="card" id="<%=row.id%>"  >
        <% var location = "productPage/"+row.id %>
        <a href="<%=location%>">
          <div>
            <%
            img = new Buffer(row.image).toString('base64');
            %>
          <img src="data:image/jpeg;base64,<%- img %>"  class='img1' width="100" height="100" ></img>
          </div>
        </a>
        <a href="<%=location%>">
          <div class='text'>
          <h3>
          <%=row.name.length > 28 ? row.name.substring(0, 25) + '...' : row.name%>    
          </h3>
          <h1 style="display: none;" ><%=row.category%></h1>
          </div>
        </a>
          <div class='price'>
            <price ><%=row.price%></price>
          </div>
      </div> 
  <%})%>
  
  
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-dce91fe8-f9f1-444a-95bc-eeec8526fe44"></div>


  <%- include("./partials/footer.ejs"); %>  
  <script src="../public/js/index.js" ></script>
  </body>

</html>